<p>Hello <%= @user.email %></p>

<p>Someone has requested for OTP to change your password</p>

<p> <strong> Your OTP is : <%= @otp%>  </strong> </p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you verify the OTP and create a new one.</p>
