  <section id="account_section">
    <%= render :partial => "shared/sidebar" %>
    <div id="guidelines" class="main_side">
      <div id="top_header">
        <h2 class="mb-0">Guidelines</h2>
        <div class="header_side">
          <button type="button" class="noti_btn input">
            <img src="/assets/icon-bell.svg" alt="">
            <span>7</span>
          </button>
        </div>
      </div>
      <div class="top_btn">
        <button class="site_btn round">Edit</button>
      </div>
      <div class="guide">
        <div class="row">
          <div class="col-md-3">
            <ul>
              <li >
                <a href="<%=terms_and_conditions_admins_guidelines_path%>">Terms & Condition</a>
              </li>
              <li>
                <a href="<%=privacy_policy_admins_guidelines_path%>" class="active">Privacy Policy</a>
              </li>
              <li >
                <a href="<%=faqs_admins_guidelines_path%>">FAQs</a>
              </li>
            </ul>
          </div>
          <div class="col-md-9">
            <div class="img">
              <img src="/assets/Earning.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
  <!-- account_section -->
  <!-- Main Js -->
  <script src="/assets/main.js"></script>