<section id="account_section">
  <%= render :partial => "shared/sidebar" %> 
  <div id="carlist" class="main_side">
    <div id="top_header">
      <h2 class="mb-0">Car List</h2>
      <div class="header_side">
        <button type="button" class="noti_btn input">
          <img src="/assets/icon-bell.svg" alt="">
          <span>7</span>
        </button>
      </div>
    </div>
    <div class="search">
      <div class="form_blk input round_input ">
        <button class="btn">
          <img src="/assets/search_icon.svg" alt="">
        </button>
        <input class="input " type="text" name="" id="" placeholder="Search car brand">
      </div>
      <button class="site_btn round" data-popup="forget_pass">Add Car Brand</button>
    </div>
    <div class="row m-0">
      <div class="col brands">
        <div class="item">
          <div class="img">
            <img src="/assets/Alfa.png" alt="">
          </div>
          <p>Alfa Romeo</p>
        </div>
      </div>
      <div class="col brands">
        <div class="item">
          <div class="img">
            <img src="/assets/aston.png" alt="">
          </div>
          <p>Alfa Romeo</p>
        </div>
      </div>
      <div class="col brands">
        <div class="item">
        <div class="img">
            <img src="/assets/cupra.png" alt="">
          </div>
          <p>Alfa Romeo</p>
        </div>
      </div>
      <div class="col brands">
        <div class="item">
          <div class="img">
            <img src="/assets/aston.png" alt="">
          </div>
          <p>Alfa Romeo</p>
        </div>
      </div>
      <div class="col brands">
        <div class="item">
          <div class="img">
            <img src="/assets/bmw.png" alt="">
          </div>
          <p>Alfa Romeo</p>
        </div>
      </div>
      <div class="col brands">
        <div class="item">
          <div class="img">
            <img src="/assets/aston.png" alt="">
          </div>
          <p>Alfa Romeo</p>
        </div>
      </div>
      <div class="col brands">
        <div class="item">
          <div class="img">
            <img src="/assets/bmw.png" alt="">
          </div>
          <p>Alfa Romeo</p>
        </div>
      </div>
      <div class="col brands">
        <div class="item">
          <div class="img">
            <img src="/assets/aston.png" alt="">
          </div>
          <p>Alfa Romeo</p>
        </div>
      </div>
      <div class="col brands">
        <div class="item">
          <div class="img">
            <img src="/assets/jaguar.png" alt="">
          </div>
          <p>Alfa Romeo</p>
        </div>
      </div>
      <div class="col brands">
        <div class="item">
          <div class="img">
            <img src="/assets/chevrolet.png" alt="">
          </div>
          <p>Alfa Romeo</p>
        </div>
      </div>
      <div class="col brands">
        <div class="item">
          <div class="img">
            <img src="/assets/cupra.png" alt="">
          </div>
          <p>Alfa Romeo</p>
        </div>
      </div>
      <div class="col brands">
        <div class="item">
          <div class="img">
            <img src="/assets/chevrolet.png" alt="">
          </div>
          <p>Alfa Romeo</p>
        </div>
      </div>
      <div class="col brands">
        <div class="item">
          <div class="img">
            <img src="/assets/Alfa.png" alt="">
          </div>
          <p>Alfa Romeo</p>
        </div>
      </div>
      <div class="col brands">
        <div class="item">
          <div class="img">
            <img src="/assets/aston.png" alt="">
          </div>
          <p>Alfa Romeo</p>
        </div>
      </div>
      <div class="col brands">
        <div class="item">
          <div class="img">
            <img src="/assets/jaguar.png" alt="">
          </div>
          <p>Alfa Romeo</p>
        </div>
      </div>
      <div class="col brands">
        <div class="item">
          <div class="img">
            <img src="/assets/aston.png" alt="">
          </div>
          <p>Alfa Romeo</p>
        </div>
      </div>
      <div class="col brands">
        <div class="item">
          <div class="img">
            <img src="/assets/jaguar.png" alt="">
          </div>
          <p>Alfa Romeo</p>
        </div>
      </div>
      <div class="col brands">
        <div class="item">
          <div class="img">
            <img src="/assets/alpine.png" alt="">
          </div>
          <p>Alfa Romeo</p>
        </div>
      </div>
      <div class="col brands">
        <div class="item">
          <div class="img">
            <img src="/assets/bmw.png" alt="">
          </div>
          <p>Alfa Romeo</p>
        </div>
      </div>
      <div class="col brands">
        <div class="item">
          <div class="img">
            <img src="/assets/cupra.png" alt="">
          </div>
          <p>Alfa Romeo</p>
        </div>
      </div>
      
    </div>
    <div class="popup" data-popup="forget_pass" style="display:block;">
      <div class="table_dv overlay">
        <div class="table_cell">
          <div class="contain-fluid">
            <div class="row justify-content-center">
              <div class="col-3">
                <div class="_inner">
                  <!-- <button type="button" class="x_btn"></button> -->
                  <div class="log_strip" style="background-image: url('/assets/logon-strip.svg')">
                    <p class="fs_5">Welcome!</p>
                  </div>
                  <form action="">
                    <div class="prof_img">
                    <!-- <img src="#" alt=""> -->
                    <p>Upload image</p>
                    </div>
                      <div class="form_blk">
                      <label for="" class="text-center">Enter a card brand</label>
                      <input type="text" class="input" placeholder="type here">
                      </div>  
                        <div class="btn_blk">
                          <button class="site_btn px sm">Add</button>
                        </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  
</section>
<!-- account_section -->
<!-- Main Js -->
<script src="assets/main.js"></script>