<div class="dropdown-menu notfi_dropdown">
  <div class="top_blk">
    <h4 class="text-center">
        Notifications
    </h4>
  </div>
  <div class="text">
    <ul class="notify_blk">
      <% @notifications.each do |notification| %>
        <li>
          <div class="blk">
            <div class="profile">
              <div class="d-flex justify-content-between w-100">
                  <h5 class="mb-0"><%= notification.subject %></h5>
                  <p><%= notification.created_at.strftime('%d/%m/%Y at %H:%M') %></p>
               </div>
            </div>
            <div class="content">
              <p><%= notification.body %></p>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
