<div class="popup" style="display: block">
  <div class="overlay"></div>
  <div class="table_dv">
    <div class="table_cell">
      <div class="contain-fluid">
        <div class="row justify-content-center">
          <div class="col-4">
            <div class="_inner">
              <div class="log_strip" style="background-image: url('/assets/logon-strip.svg')">
                <p class="fs_5">Hey!</p>
              </div>
              <h4 class="text-center mb-4">Are you sure you want to diapprove this transfer? </h4>
              <div class="btn_blk">
                <a class="confirm_no site_btn px blank stroke">No</a>
                <a class="confirm_disapprove site_btn px pop_btn" data-id="<%=@user.id%>">Yes</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>