<div class="popup" style="display: block">
  <div class="overlay"></div>
  <div class="table_dv">
    <div class="table_cell">
      <div class="contain-fluid">
        <div class="row justify-content-center">
          <div class="col-3">
            <div class="_inner">
              <button type="button" class="x_btn"></button>
              <div class="log_strip" style="background-image: url('/assets/logon-strip.svg')">
                <p class="fs_5 mb-4">Ouch!</p>
              </div>
              <h5 class="text-center">You can't send $0, please enter another amount!</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>