<div class="popup d-block">
      <div class="overlay"></div>
      <div class="table_dv">
        <div class="table_cell">
          <div class="contain-fluid">
            <div class="row justify-content-center">
              <div class="col-3">
                <div class="_inner">
                  <button type="button" class="x_btn"></button>
                  <div class="log_strip" style="background-image: url('/assets/logon-strip.svg')">
                    <p class="fs_5 mb-4">Send Money</p>
                  </div>
                  <div class="dash_card mb-5">
                    <div class="ico"><img src="/assets/icon-dollar.svg" alt="">
                    </div>
                    <div class="txt">
                      <h3>600</h3>
                      <span>Revenue</span>
                    </div>
                  </div>
                  <form action="">
                    <div class="form_blk">
                      <label for="">Enter a card brand</label>
                      <input type="text" class="input" placeholder="type here">
                    </div>  
                    <div class="btn_blk">
                      <button type="button" class="site_btn px pop_btn" data-popup="confirm_money">Add</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>