<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta property="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:image" content="success">
    <meta property="og:image" content="<%= asset_path("favicon.png")%>">
    <meta property="og:image" content="https://www.google.com/url?sa=i&url=https%3A%2F%2Fpixelz.cc%2Fimages%2Fdespicable-minion-uhd-4k-wallpaper%2F&psig=AOvVaw3bAJqUeYrqZgq9R413bVzw&ust=1701430616019000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCJCn2o3R64IDFQAAAAAdAAAAABAE">
    <title>SpotSwap</title>
    <style>
         body{
            background:black;
        }
         p, h1, h3 {
            color: white;
        }
    </style>
</head>
<body>
        <div class="contain">
        <h1>Success</h1>
            </div>
        </div>
</main>

</div>
</body>
</html>
