<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpotSwap Privacy Policy</title>
    <style>
        body{
            background:black;
        }
        p, h1, h3, h5 {
            color: white;
        }
    </style>
</head>
<body>
        <div class="contain">

<form >
<div style="width: 200px; padding: 40px;">
<img src="<%= asset_path('favicon.png') %>" alt="Logo">
</div>

<div class="txt">
<h1 style="font-weight: 700; color: white;">Privacy Policy </h1>
</div>
<p style="color: white;">Last updated: May 14, 2024</p>
<br>
<br>
<div class="txt">
<br>
<h3>1. Introduction</h3>
<p>Welcome to SpotSwap. This Privacy Policy provides detailed information about how your personal data is collected, used, and safeguarded when you engage with the SpotSwap service, operated by SpotSwap LLC. It outlines our practices related to the management of your information across our platforms.</p>
<br>

<h3>2. Information We Collect</h3>
<h5>a. Personal Information:</h5>
<p>We collect identifiable information such as your name, email address, contact number, and secure payment details. We also gather images of your car and profile pictures, along with specific details like your car's model, make, and color to personalize and enhance our service.</p>
<h5>b. Usage Data:</h5>
<p>Our servers automatically record information created by your use of our Service. This may include information like IP address, device types, operating system, the frequency and duration of your activities on our service, and other interactions with our application and services.</p>
<h5> c. Location Data: </h5>
<p>To facilitate the core functionality of the SpotSwap platform, we may collect precise location data from your device, subject to your consent where required by law.</p>
<br>
<h3>2. Information We Collect</h3>
<p>We utilize the information we collect to provide, maintain, and improve our services, including to:</p>
<p>- Manage user registrations and accounts.</p>
<p>- Facilitate transactions and payments.</p>
<p>- Send administrative or account-related information to you.</p>
<p>- Communicate about service updates, security alerts, and support messages.</p>
<p>- Enable user-to-user communications.</p>
<p>- Ensure network and information security.</p>
<p>- Enforce our terms and conditions and protect our business operations.</p>
<li>
    <br>
<h3>4. Data Storage and Protection</h3>
<p>We employ robust security measures to protect your data against unauthorized access, alteration, disclosure, or destruction. We store your personal information on secure servers, with access limited to authorized personnel only. Data is retained for as long as it is necessary to fulfil the purposes outlined in this policy, unless a longer retention period is required or permitted by law.</p>
    <br>
<h3>5. Sharing Your Information</h3>
<p>We may share your personal information with:</p>
<p>- Service providers and partners who assist us in operating our services and managing our business, such as payment processors and cloud hosting services.</p>
<p>- Law enforcement, government officials, or other third parties when required by law, or to protect our rights or the rights of others, including in the context of a legal process.</p>
<p>- A buyer or other successor in the event of a merger, divestiture, restructuring, reorganization, dissolution, or other sale or transfer of some or all of SpotSwap LLC’s assets.</p>
    <br>
<h3>6. International Transfers</h3>
<p>Your information, including personal data, may be transferred to—and maintained on—computers located outside of your state, province, country, or other governmental jurisdiction where the data protection laws may differ from those of your jurisdiction.</p>
    <br>
<h3>7. Your Data Protection Rights</h3>
<p>Under certain circumstances, you have rights under data protection laws in relation to your personal data. These include the right to access, correct, delete, or restrict use of your personal information. You can also object to processing and, where applicable, withdraw consent at any time.</p>
    <br>
<h3>8. Changes to This Policy</h3>
<p>We reserve the right to update or change our Privacy Policy at any time. We will provide notice of significant changes through our service or through other means, such as email, so you can review the changes before they become effective.</p>
    <br>
<h3>9. Contact Us</h3>
<p>For questions or concerns about our privacy practices, your personal information, or if you wish to file a complaint, please contact us at </p>
    <br>
    <br>
    <p>support@spotswap.app.</p>
   



                </form>
            </div>
        </div>
</main>

</div>
</body>
</html>
