<section id="account_section">
  <%= render :partial => "shared/sidebar" %> 

  <div id="dash" class="main_side">
    <div id="top_header">
    <h3 class="mb-0">Dashboard</h3>
    <div class="header_side">
      <div class="btn_blk">
      <a href="sub-admins.php" class="site_btn round">Sub Admin</a>
      </div>
      <button type="button" class="noti_btn input">
      <img src="/assets/icon-bell.svg" alt="">
      <span>7</span>
      </button>
    </div>
    </div>
    <div class="flex_row row">
    <div class="col">
      <div class="dash_card">
      <div class="ico"><img src="/assets/icon-download.svg" alt=""></div>
      <div class="txt">
        <h3>203</h3>
        <span>Downloads</span>
      </div>
      </div>
    </div>
    <div class="col">
      <div class="dash_card">
      <div class="ico"><img src="/assets/icon-team.svg" alt=""></div>
      <div class="txt">
        <h3>200</h3>
        <span>Users</span>
      </div>
      </div>
    </div>
    <div class="col">
      <div class="dash_card">
      <div class="ico"><img src="/assets/icon-car.svg" alt=""></div>
      <div class="txt">
        <h3>198</h3>
        <span>Cars</span>
      </div>
      </div>
    </div>
    <div class="col">
      <div class="dash_card">
      <div class="ico"><img src="/assets/icon-dollar.svg" alt=""></div>
      <div class="txt">
        <h3>600</h3>
        <span>Revenue</span>
      </div>
      </div>
    </div>
    <div class="col col-auto">
      <div class="dash_card date_card">
      <div class="txt">
        <span>July</span>
        <h3 class="text_prime">14</h3>
        <span>2022</span>
      </div>
      </div>
    </div>
    </div>
    <div id="table_users">
    <div class="table__blk">
      <table>
      <thead>
        <tr>
        <th style="width: 20rem;">USERS</th>
        <th style="width: 20rem;">EMAIL</th>
        <th style="width: 20rem;">PHONE NUMBER</th>
        <th style="width: 19rem;">SMART CAR</th>
        <th style="width: 15rem;">CAR MAKE</th>
        <th style="width: 15rem;">YEAR BOUGHT</th>
        <th style="width: 15rem;">STATUS</th>
        </tr>
      </thead>
      <tbody>
        <tr>
        <td>
          <div class="user">
          <div class="ellipse">
            <img src="/assets/Ellipse-user.svg" alt="">
          </div>
          <div>Alexander Lester</div>
          </div>
        </td>
        <td>alexanderlester@gmail.com</td>
        <td>+123 1324 13244 0000</td>
        <td>Kia Niro EV</td>
        <td>Niro EV</td>
        <td>2021</td>
        <td>
          <div class="active ">
          <span>Active</span>
          <div class="dropdown">
            <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="/assets/dot-icon.svg" alt="">
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">View Details</a></li>
            <li><a class="dropdown-item" href="#">Send Money</a></li>
            <li><a class="dropdown-item" href="#">Disable</a></li>
            </ul>
          </div>
          </div>
        </td>
        </tr>
        <tr>
        <td>
          <div class="user">
          <div class="ellipse">
            <img src="/assets/Ellipse-user.svg" alt="">
          </div>
          <div>Alexander Lester</div>
          </div>
        </td>
        <td>alexanderlester@gmail.com</td>
        <td>+123 1324 13244 0000</td>
        <td>Kia Niro EV</td>
        <td>Niro EV</td>
        <td>2021</td>
        <td>
          <div class="active ">
          <span>Active</span>
          <div class="dropdown">
            <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="/assets/dot-icon.svg" alt="">
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">View Details</a></li>
            <li><a class="dropdown-item" href="#">Send Money</a></li>
            <li><a class="dropdown-item" href="#">Disable</a></li>
            </ul>
          </div>
          </div>
        </td>
        </tr>
        <tr>
        <td>
          <div class="user">
          <div class="ellipse">
            <img src="/assets/Ellipse-user.svg" alt="">
          </div>
          <div>Alexander Lester</div>
          </div>
        </td>
        <td>alexanderlester@gmail.com</td>
        <td>+123 1324 13244 0000</td>
        <td>Kia Niro EV</td>
        <td>Niro EV</td>
        <td>2021</td>
        <td>
          <div class="active ">
          <span>Active</span>
          <div class="dropdown">
            <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="/assets/dot-icon.svg" alt="">
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">View Details</a></li>
            <li><a class="dropdown-item" href="#">Send Money</a></li>
            <li><a class="dropdown-item" href="#">Disable</a></li>
            </ul>
          </div>
          </div>
        </td>
        </tr>
        <tr>
        <td>
          <div class="user">
          <div class="ellipse">
            <img src="/assets/Ellipse-user.svg" alt="">
          </div>
          <div>Alexander Lester</div>
          </div>
        </td>
        <td>alexanderlester@gmail.com</td>
        <td>+123 1324 13244 0000</td>
        <td>Kia Niro EV</td>
        <td>Niro EV</td>
        <td>2021</td>
        <td>
          <div class="active ">
          <span>Active</span>
          <div class="dropdown">
            <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="/assets/dot-icon.svg" alt="">
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">View Details</a></li>
            <li><a class="dropdown-item" href="#">Send Money</a></li>
            <li><a class="dropdown-item" href="#">Disable</a></li>
            </ul>
          </div>
          </div>
        </td>
        </tr>
        <tr>
        <td>
          <div class="user">
          <div class="ellipse">
            <img src="/assets/Ellipse-user.svg" alt="">
          </div>
          <div>Alexander Lester</div>
          </div>
        </td>
        <td>alexanderlester@gmail.com</td>
        <td>+123 1324 13244 0000</td>
        <td>Kia Niro EV</td>
        <td>Niro EV</td>
        <td>2021</td>
        <td>
          <div class="active ">
          <span>Active</span>
          <div class="dropdown">
            <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="/assets/dot-icon.svg" alt="">
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">View Details</a></li>
            <li><a class="dropdown-item" href="#">Send Money</a></li>
            <li><a class="dropdown-item" href="#">Disable</a></li>
            </ul>
          </div>
          </div>
        </td>
        </tr>
        <tr>
        <td>
          <div class="user">
          <div class="ellipse">
            <img src="/assets/Ellipse-user.svg" alt="">
          </div>
          <div>Alexander Lester</div>
          </div>
        </td>
        <td>alexanderlester@gmail.com</td>
        <td>+123 1324 13244 0000</td>
        <td>Kia Niro EV</td>
        <td>Niro EV</td>
        <td>2021</td>
        <td>
          <div class="active ">
          <span>Active</span>
          <div class="dropdown">
            <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="assets/images/dot-icon.svg" alt="">
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">View Details</a></li>
            <li><a class="dropdown-item" href="#">Send Money</a></li>
            <li><a class="dropdown-item" href="#">Disable</a></li>
            </ul>
          </div>
          </div>
        </td>
        </tr>
        <tr>
        <td>
          <div class="user">
          <div class="ellipse">
            <img src="/assets/Ellipse-user.svg" alt="">
          </div>
          <div>Alexander Lester</div>
          </div>
        </td>
        <td>alexanderlester@gmail.com</td>
        <td>+123 1324 13244 0000</td>
        <td>Kia Niro EV</td>
        <td>Niro EV</td>
        <td>2021</td>
        <td>
          <div class="active ">
          <span>Active</span>
          <div class="dropdown">
            <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="/assets/dot-icon.svg" alt="">
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">View Details</a></li>
            <li><a class="dropdown-item" href="#">Send Money</a></li>
            <li><a class="dropdown-item" href="#">Disable</a></li>
            </ul>
          </div>
          </div>
        </td>
        </tr>
        <tr>
        <td>
          <div class="user">
          <div class="ellipse">
            <img src="/assets/Ellipse-user.svg" alt="">
          </div>
          <div>Alexander Lester</div>
          </div>
        </td>
        <td>alexanderlester@gmail.com</td>
        <td>+123 1324 13244 0000</td>
        <td>Kia Niro EV</td>
        <td>Niro EV</td>
        <td>2021</td>
        <td>
          <div class="active ">
          <span>Active</span>
          <div class="dropdown">
            <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="/assets/dot-icon.svg" alt="">
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">View Details</a></li>
            <li><a class="dropdown-item" href="#">Send Money</a></li>
            <li><a class="dropdown-item" href="#">Disable</a></li>
            </ul>
          </div>
          </div>
        </td>
        </tr>
        <tr>
        <td>
          <div class="user">
          <div class="ellipse">
            <img src="/assets/Ellipse-user.svg" alt="">
          </div>
          <div>Alexander Lester</div>
          </div>
        </td>
        <td>alexanderlester@gmail.com</td>
        <td>+123 1324 13244 0000</td>
        <td>Kia Niro EV</td>
        <td>Niro EV</td>
        <td>2021</td>
        <td>
          <div class="active ">
          <span>Active</span>
          <div class="dropdown">
            <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="/assets/dot-icon.svg" alt="">
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">View Details</a></li>
            <li><a class="dropdown-item" href="#">Send Money</a></li>
            <li><a class="dropdown-item" href="#">Disable</a></li>
            </ul>
          </div>
          </div>
        </td>
        </tr>
      </tbody>
      </table>
    </div>
    <!-- pagination_section -->
    <div class="paginate_sec">
      <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="d-flex me-4">
        Rows per page: 10
        <div class="dropdown">
          <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          <div class="icon">
            <img src="/assets/dropdown-icon.svg" alt="">
          </div>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </div>
        </li>

        <li>1-10 of 30</li>

        <li class="page_item me-4 d-flex">
        <a class="page_link icon_blk fw_600" href="#">
          <img src="/assets/left-arrow-icon.svg" aria-hidden="true" alt="icon">
        </a>
        <a class="page_link icon_blk fw_600" href="#">
          <img src="/assets/right-arrow-icon.svg" aria-hidden="true" alt="icon">
        </a>
        </li>
      </ul>
      </nav>
    </div>
    </div>
  </div>
  </section>
  <!-- account_section -->


  <!-- Main Js -->
  <script src="/assets/main.js"></script>