<section id="account_section">
  <%= render :partial => "shared/sidebar" %>
  <div id="support" class="main_side">
    <div id="top_header">
      <h2 class="mb-0">Support</h2>
      <div class="header_side">
        <button type="button" class="noti_btn input">
          <img src="/assets/icon-bell.svg" alt="">
          <span>7</span>
        </button>
      </div>
    </div>
    <div class="ctn">
      <div class="row">
        <div class="col-4">
          <div class="users_blk">
            <div class="top_blk">
              <div class="form_blk input search_blk">
                <button type="button" class="btn">
                  <img src="/assets/search_icon.svg" alt="">
                </button>
                <input type="text" name="" class="input" placeholder="Search Messages">
              </div>
            </div>
            <ul class="users_list">
              <li class="active">
                <div class="user">
                  <div class="img">
                    <img src="/assets/support-user.png" alt="">
                  </div>
                  <div class="txt">
                    <h6 class="mb-0">User name</h6>
                    <div class="d-flex">
                      <p class="msg">Lorem Ipsum is simply dummy text of Lorem 
                        Ipsum is simply dummy text of Lorem Ipsum is simply dummy text of
                      </p>
                      <p>• 5 min</p>
                    </div>
                    <div class="u_msg">
                      2
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="user">
                  <div class="img">
                    <img src="/assets/support-user.png" alt="">
                  </div>
                  <div class="txt">
                    <h6 class="mb-0">User name</h6>
                    <div class="d-flex">
                      <p class="msg">Lorem Ipsum is simply dummy text of Lorem 
                        Ipsum is simply dummy text of Lorem Ipsum is simply dummy text of
                      </p>
                      <p>• 5 min</p>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="user">
                  <div class="img">
                    <img src="/assets/support-user.png" alt="">
                  </div>
                  <div class="txt">
                    <h6 class="mb-0">User name</h6>
                    <div class="d-flex">
                      <p class="msg">Lorem Ipsum is simply dummy text of Lorem 
                        Ipsum is simply dummy text of Lorem Ipsum is simply dummy text of
                      </p>
                      <p>• 5 min</p>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="user">
                  <div class="img">
                    <img src="/assets/support-user.png" alt="">
                  </div>
                  <div class="txt">
                    <h6 class="mb-0">User name</h6>
                    <div class="d-flex">
                      <p class="msg">Lorem Ipsum is simply dummy text of Lorem 
                        Ipsum is simply dummy text of Lorem Ipsum is simply dummy text of
                      </p>
                      <p>• 5 min</p>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="user">
                  <div class="img">
                    <img src="/assets/support-user.png" alt="">
                  </div>
                  <div class="txt">
                    <h6 class="mb-0">User name</h6>
                    <div class="d-flex">
                      <p class="msg">Lorem Ipsum is simply dummy text of Lorem 
                        Ipsum is simply dummy text of Lorem Ipsum is simply dummy text of
                      </p>
                      <p>• 5 min</p>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="user">
                  <div class="img">
                    <img src="/assets/support-user.png" alt="">
                  </div>
                  <div class="txt">
                    <h6 class="mb-0">User name</h6>
                    <div class="d-flex">
                      <p class="msg">Lorem Ipsum is simply dummy text of Lorem 
                        Ipsum is simply dummy text of Lorem Ipsum is simply dummy text of
                      </p>
                      <p>• 5 min</p>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="user">
                  <div class="img">
                    <img src="/assets/support-user.png" alt="">
                  </div>
                  <div class="txt">
                    <h6 class="mb-0">User name</h6>
                    <div class="d-flex">
                      <p class="msg">Lorem Ipsum is simply dummy text of Lorem 
                        Ipsum is simply dummy text of Lorem Ipsum is simply dummy text of
                      </p>
                      <p>• 5 min</p>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="user">
                  <div class="img">
                    <img src="/assets/support-user.png" alt="">
                  </div>
                  <div class="txt">
                    <h6 class="mb-0">User name</h6>
                    <div class="d-flex">
                      <p class="msg">Lorem Ipsum is simply dummy text of Lorem 
                        Ipsum is simply dummy text of Lorem Ipsum is simply dummy text of
                      </p>
                      <p>• 5 min</p>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="user">
                  <div class="img">
                    <img src="/assets/support-user.png" alt="">
                  </div>
                  <div class="txt">
                    <h6 class="mb-0">User name</h6>
                    <div class="d-flex">
                      <p class="msg">Lorem Ipsum is simply dummy text of Lorem 
                        Ipsum is simply dummy text of Lorem Ipsum is simply dummy text of
                      </p>
                      <p>• 5 min</p>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-8">
          <div class="chat_blk">
            <div class="top_blk">
              <div class="selected_chat">
                <div class="img">
                  <img src="/assets/support-user.png" alt="">
                </div>
                <div class="txt">
                  <h6 class="mb-0">User name</h6>
                  <p class="mb-0">#0e973975397375sfwf</p>
                </div>
                <div class="dropdown">
                  <button class="site_btn blank sm dropdown-toggle chevron" data-bs-toggle="dropdown">
                    Mark as
                  </button>
                  <ul class="dropdown-menu" >
                    <li><button type="button">Ongoing</button></li>
                    <li><button type="button">Completed</button></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="msg_contain">
              <div class="msg user">
                <div class="profile">
                  <img src="/assets/support-user.png" alt="">
                </div>
                <div class="msg_wrapper">
                  <div class="msg_blk">
                    <p>Open a Support Ticket <strong>#0e973975397375sfwf</strong></p>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pretium sem
                      sit amet venenatis commodo. Nullam aliquam lacus nisl, varius luctus 
                      mauris hendrerit ut. Etiam eros lectus, commodo nec nisl in, aliquet 
                      congue quam. Morbi condimentum lectus id urna gravida, at facilisis 
                      lectus consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing 
                      elit.
                    </p>
                    <div class="attch_blk">
                      <div class="img">
                        <img src="/assets/attach-img.png" alt="">
                      </div>
                      <button type="button" class="btn down_btn">
                        <img src="/assets/icon-download.svg" alt="">
                      </button>
                    </div>
                  </div>
                  <p>May 22, 2022 | 9:00am</p>
                </div>
              </div>
              <div class="msg admin">
                <div class="profile">
                  <img src="/assets/support-user.png" alt="">
                </div>
                <div class="msg_wrapper">
                  <div class="msg_blk">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pretium sem
                      sit amet venenatis commodo. Nullam aliquam lacus nisl, varius luctus 
                      mauris hendrerit ut. Etiam eros lectus, commodo nec nisl in, aliquet 
                      congue quam. Morbi condimentum lectus id urna gravida, at facilisis 
                      lectus consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing 
                      elit.
                    </p>
                  </div>
                  <p>May 22, 2022 | 9:00am</p>
                </div>
              </div>
              <div class="msg admin">
                <div class="profile">
                  <img src="/assets/support-user.png" alt="">
                </div>
                <div class="msg_wrapper">
                  <div class="msg_blk">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pretium sem
                      sit amet venenatis commodo. Nullam aliquam lacus nisl, varius luctus 
                      mauris hendrerit ut. Etiam eros lectus, commodo nec nisl in, aliquet 
                      congue quam. Morbi condimentum lectus id urna gravida, at facilisis 
                      lectus consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing 
                      elit.
                    </p>
                    <div class="attch_blk">
                      <div class="img">
                        <img src="/assets/attach-img.png" alt="">
                      </div>
                      <button type="button" class="btn down_btn">
                        <img src="/assets/icon-download.svg" alt="">
                      </button>
                    </div>
                  </div>
                  <p>May 22, 2022 | 9:00am</p>
                </div>
              </div>
              <div class="msg user">
                <div class="profile">
                  <img src="/assets/support-user.png" alt="">
                </div>
                <div class="msg_wrapper">
                  <div class="msg_blk">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pretium sem
                      sit amet venenatis commodo. Nullam aliquam lacus nisl, varius luctus 
                      mauris hendrerit ut. Etiam eros lectus, commodo nec nisl in, aliquet 
                      congue quam. Morbi condimentum lectus id urna gravida, at facilisis 
                      lectus consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing 
                      elit.
                    </p>
                  </div>
                  <p>May 22, 2022 | 9:00am</p>
                </div>
              </div>
            </div>
            <div class="send_blk">
              <div class="btn_blk flex-nowrap">
                <button type="button" class="btn att-btn">
                  <img src="/assets/icon-attach.svg" alt="">
                </button>
                <button type="button" class="btn att-btn">
                  <img src="/assets/icon-img.svg" alt="">
                </button>
              </div>
              <input type="text" class="input" placeholder="Type your message here">
              <button type="submit" class="btn send_btn">
                <img src="/assets/icon-send.svg" alt="">
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- account_section -->

<!-- Main Js -->
<script src="/assets/main.js"></script>